{% extends "bootstrap/base.html" %}

{% block title %}
Questions
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AUTISM DETECTOR</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="qna.html">Take Test</a></li>
            <li><a href="positive.html">Positive Stimuli</a></li>
            <li><a href="negative.html">Negative Stimuli</a></li>
            <li><a href="{{ url_for('uploadfile') }}">Upload Video</a></li>
            <li><a href="{{ url_for('temp') }}">Temperature</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
         
        </div>
      </div>
    </nav>

<div class = "profile">
<form class = "user_profile" autocomplete = "on" method="post" name = "form">
    {{ form.csrf_token }}
    
    <h2>QUESTION RELATED TO THE CHILDS BEHAVIOUR</h2>
    <ul>
    <li>
        <b><h3>Age of the child</h3><sup style=color:red>*</sup><br></b>
        {{form.AGE}}
        
        
    </li>
    <li>
        <b><h3>Q1)Has trouble completing task in case of noise around like radio,fan, refrigerator</h3><sup style=color:red>*</sup></b>
        &nbsp{{form.ID1}}
    </li> 

    <li>
        <b><h3>Q2)appears to not hear what you say (ignores you) </h3><sup style=color:red>*</sup>&nbsp&nbsp</b>
        {{form.ID2}}
    

    </li> 
    <li>
        <b><h3>Q3)enjoys strange noises and also makes noises.</h3><sup style=color:red>*</sup></b>
        {{form.ID3}}


    </li> 
    <li>
        <b><h3>Q4)Has a hard time to find objects in competing backgrouds</h3><sup style=color:red>*</sup></b>
        {{form.ID4}}
    </li>
    <li>
        <b><h3>Q5)Looks carefully or intensely at  objects/ people (eg- stares)</h3><sup style=color:red>*</sup><br></b>
        {{form.ID5}}
        
        
    </li>
    
    <br>
    <button class="btn btn-primary" type="submit"action="qna.html" style="width: fit-content;">SUBMIT</button>


    
</div>

{% endblock %}